.ui-inline {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

img {
  border: 1;
  max-width: 100%;
}

g.groups > g.traces > g.layers {
  opacity: 1 !important;
}

.progress-text {
  top: 50% !important;
  left: 45% !important;
  margin-top: 550px !important;
}

.progress-bar {
  background-color: #20c997 !important;
  opacity: 1 !important;
} 

.layer-link {
  padding-right: 15px;
}

.A, .alpha, .alpha:hover, .alpha:active, .alpha:focus, .alpha:visited {
  color: #cd2626; 
}

.alpha-bg {
  background-color: #cd2626; 
}

.B, .beta, .beta:hover, .beta:active, .beta:focus, .beta:visited {
  color: #228b22;
}

.beta-bg {
  background-color: #228b22;
}

.G, .gamma, .gamma:hover, .gamma:active, .gamma:focus, .gamma:visited  {
  color: #cc00cc;
}

.gamma-bg {
  background-color: #cc00cc;
}

.D, .delta, .delta:hover, .delta:active, .delta:focus, .delta:visited  {
  color: #4169e1;
}

.delta-bg {
  background-color: #4169e1;
}

.epsilon, .epsilon:hover, .epsilon:active, .epsilon:focus, .epsilon:visited {
 color: #ffaa00; 
}

.multi, .multi:hover, .multi:active, .multi:focus, .multi:visited {
  color: #000000;
}

.non-endocrine, .non-endocrine:hover, .non-endocrine:active, .non-endocrine:focus, .non-endocrine:visited {
  color: #d3d3d3;
}

.ghost {
  color: lightgray;
}

.node-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-size: 16px;

}

.square {
  width: 25px;
  height: 25px;
  background-color: black;
  font-size: 15px;
  letter-spacing: -1px;
  color: white;
}

.diamond {
  width: 22px;
  height: 22px;
  background-color: #36454F;
  transform:rotate(45deg);
}

.diamond-text {
  transform: rotate(-45deg);
  font-size: 15px;
  letter-spacing: -1px;
  color: white;
  padding-left: 8px;
  padding-bottom: 10px;
}

.number {
  font-family: "Fira Mono", Consolas, Monaco, monospace;
  font-size: 18px;
  line-height: 30px;
  white-space: pre;
}

.bold {
  font-weight: bold;
}

.tippy-text {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.sticky-col {
  position: sticky !important;
  background: #fff;
  z-index: 1;
  left: 0;
  border-right: 1px solid #eee !important;
}

.large {
  font-size: 24px;
}


